# Scraping the Website from Skytrax

First of all I imported Necessary libraries for Web Scraping

In [6]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import string
import requests

import warnings
warnings.filterwarnings('ignore')

I used this URL as mentioned in the work stats and just got them their respective size so that the process should go well

In [9]:
BA_url = 'https://www.airlinequality.com/airline-reviews/british-airways'
pages = 40
page_size = 50

In [12]:
# Creating an empty list on reviews, stars, date, country 

reviews = []
stars = []
date = []
country = []

This is the Mandatory process to Extract the Text Content from the Web Page, I used BeautifulSoup to Scrap the HTML Content as that was mentioned in the Inspect Tools

In [28]:
for i in range(1, pages + 1):
    print(f'Scraping Page {i}')
    
    # Creating a URL to collect the links and resize them for process
    url = f"{BA_url}/page/{i}/?sortby=post_date%3ADesc&pagesize={page_size}"
    
    # Collecting HTML data from this page
    response = requests.get(url)
    
    # Parse content
    content = response.content
    parsed_content = BeautifulSoup(content, 'html.parser')
    
     # Extracting reviews
    for para in parsed_content.find_all('div',{'class':'text_content'}):
        reviews.append(para.get_text())
        
     # Extracting stars
    for star_div in parsed_content.find_all('div', {'class': 'rating-10'}):
        try:
            stars.append(star_div.span.text)
        except AttributeError:
            print(f"Error on page {i} - No star rating found")
            stars.append("None")
            
    # Extracting date
    for time_tag in parsed_content.find_all('time'):
        date.append(time_tag.text)
    
    # Extracting country
    for h3_tag in parsed_content.find_all('h3'):
        try:
            country.append(h3_tag.span.next_sibling.text.strip(" ()"))
        except AttributeError:
            print(f"Error on page {i} - No country found")
            country.append("None")

Scraping Page 1
Scraping Page 2
Scraping Page 3
Scraping Page 4
Scraping Page 5
Scraping Page 6
Scraping Page 7
Scraping Page 8
Scraping Page 9
Scraping Page 10
Scraping Page 11
Scraping Page 12
Scraping Page 13
Scraping Page 14
Scraping Page 15
Scraping Page 16
Scraping Page 17
Scraping Page 18
Scraping Page 19
Scraping Page 20
Scraping Page 21
Scraping Page 22
Scraping Page 23
Scraping Page 24
Scraping Page 25
Scraping Page 26
Scraping Page 27
Scraping Page 28
Scraping Page 29
Scraping Page 30
Scraping Page 31
Scraping Page 32
Scraping Page 33
Scraping Page 34
Scraping Page 35
Scraping Page 36
Scraping Page 37
Scraping Page 38
Scraping Page 39
Scraping Page 40

In [29]:
print(f'{len(reviews)} Total Reviews')

4000 Total Reviews

In [30]:
print(f'{len(stars)} Total Stars')

4040 Total Stars

In [31]:
print(f'{len(date)} Total Date')

4000 Total Date

In [32]:
print(f'{len(country)} Total Country')

4000 Total Country

# Used Truncated Method because the size was not perfect for the Stars Variable

In [33]:
min_length = min(len(reviews), len(stars), len(date), len(country))

# Truncating the lists to the minimum length
reviews = reviews[:min_length]
stars = stars[:min_length]
date = date[:min_length]
country = country[:min_length]

In [34]:
len(reviews)

4000

In [35]:
len(stars)

4000

# Imported them into the Dataset

In [37]:
df = pd.DataFrame({
    'Reviews' : reviews,
    'Stars(Ratings)' : stars,
    'Date' : date,
    'Country' : country
})
df.head()

,Reviews,Stars(Ratings),Date,Country
0,✅ Trip Verified | Booked a flight from Buchar...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,12th November 2023,Romania
1,✅ Trip Verified | Booked online months ago an...,1,8th November 2023,United Kingdom
2,✅ Trip Verified | The flight was on time. The...,8,7th November 2023,United Kingdom
3,"Not Verified | Angry, disappointed, and unsat...",7,5th November 2023,Italy
4,"✅ Trip Verified | As an infrequent flyer, Bri...",2,5th November 2023,United Kingdom

# Converting into CSV File

In [38]:
df.to_csv('BA_Feedbacks.csv')